
@model IEnumerable<TourWeb.Models.TourModel>

@{
    ViewBag.Title = "Index";
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel agency</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css" asp-append-version="true">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link href="~/Content/css/style.css" rel="stylesheet" />

</head>
<body>
    <!-- header section start -->
    <header>
        <div id="menu-bar" class="fas fa-bars"></div>
        <a href="#" class="logo"><span>T</span>ravel</a>
        <nav class="navbar">
            <a href="#home">Home</a>
            <a href="#book">Book</a>
            <a href="#packages">Packages</a>
            <a href="#services">Services</a>
        </nav>
        <div class="icons">
            <i class="fas fa-search" id="search-btn"></i>
            <i class="fas fa-user" id="login-btn"></i>
        </div>
        <form action="" class="search-bar-container">
            <input type="search" id="search-bar" placeholder="search here...">
            <label for="search-bar" class="fas fa-search"></label>
        </form>
    </header>
    <!-- header section end -->
    <!-- login form container -->

    <div class="login-form-container">
        <i class="fas fa-times" id="form-close"></i>
        <form action="">
            <h3>login</h3>
            <input type="email" class="box" placeholder="enter your email">
            <input type="password" class="box" placeholder="enter your password">
            <input type="submit" value="login now" class="btn">
            <input type="checkbox" id="remember">
            <label for="remember">remember me</label>
            <p>forget password? <a href="#">click here</a></p>
            <p>don't have an account? <a href="#">register now</a></p>
        </form>
    </div>

    <!-- home section starts -->
    <section class="home" id="home">
        <div class="contents">
            <h3>adventure is worthwhile</h3>
            <p>discover new places with us, adventure awaits</p>
            <a href="#" class="btn">discover more</a>
        </div>

        <div class="video-container">
            <video src="~/Content/images/vid-1.mp4" id="video-slider" loop autoplay muted></video>
        </div>

    </section>
    <!-- home section ends -->
    <!-- book section starts -->
    <section class="book" id="book">
        <h1 class="heading">
            <span>b</span>
            <span>o</span>
            <span>o</span>
            <span>k</span>
            <span class="space"></span>
            <span>n</span>
            <span>o</span>
            <span>w</span>
        </h1>

        <div class="row">
            <div class="image">
                <img src="~/Content/images/vietnam-travel.png" alt="">
            </div>

            <form action="">
                <div class="inputBox">
                    <h3>where to</h3>
                    <input type="text" placeholder="place name">
                </div>
                <div class="inputBox">
                    <h3>how many</h3>
                    <input type="text" placeholder="number of guests">
                </div>
                <div class="inputBox">
                    <h3>arrivals</h3>
                    <input type="date" placeholder="dd-mm-yyyy" value="" min="1997-01-01" max="2050-12-31">
                </div>
                <div class="inputBox">
                    <h3>leaving</h3>
                    <input type="date">
                </div>
                <input type="submit" class="btn" value="book now">
            </form>
        </div>
    </section>
    <!-- book section ends -->
    <!-- packages section starts -->
    <section class="packages" id="packages">
        <h1 class="heading">
            <span>p</span>
            <span>a</span>
            <span>c</span>
            <span>k</span>
            <span>a</span>
            <span>g</span>
            <span>e</span>
            <span>s</span>
        </h1>
        <div class="box-container">
            @foreach (var item in Model)
            {
                <div class="box">
                    <img src="~/Content/images/cp-1.jpg" alt="">
                    <div class="contents">
                        <h3><i class="fas fa-map-marker-alt"></i>  @item.TourName</h3>
                        <p>@item.Tour_Character</p>
                        <div class="stars">
                            @for (double i = 0; i < 5; i++)
                            {
                                if (i < item.Tour_Star)
                                {

                                    <i class="fas fa-star"></i>
                                }
                                else
                                {
                                    <i class="far fa-star"></i>
                                }

                            }

                        </div>
                        @Html.ActionLink("book now", "Detail", "Home", new { id = item.TourID }, new { @class = "btn link" })
             
                    </div>
                </div>
               
            }

            @*<div class="box">
                <img src="~/Content/images/cp-2.jpg" alt="">
                <div class="contents">
                    <h3><i class="fas fa-map-marker-alt"></i> Vũng Tàu</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicin elit</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <div class="price"> 1.000.000đ <span>1.200.000đ</span></div>
                    <a href="#" class="btn">book now</a>
                </div>
            </div>
            <div class="box">
                <img src="~/Content/images/cp-3.jpg" alt="">
                <div class="contents">
                    <h3><i class="fas fa-map-marker-alt"></i> Bến Tre</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicin elit</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <div class="price"> 1.000.000đ <span>1.200.000đ</span></div>
                    <a href="#" class="btn">book now</a>
                </div>
            </div>
            <div class="box">
                <img src="~/Content/images/cp-4.jpg" alt="">
                <div class="contents">
                    <h3><i class="fas fa-map-marker-alt"></i> Sài Gòn</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicin elit</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <div class="price"> 1.000.000đ <span>1.200.000đ</span></div>
                    <a href="#" class="btn">book now</a>
                </div>
            </div>
            <div class="box">
                <img src="~/Content/images/cp-5.jpg" alt="">
                <div class="contents">
                    <h3><i class="fas fa-map-marker-alt"></i> Hà Nội</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicin elit</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <div class="price"> 1.000.000đ <span>1.200.000đ</span></div>
                    <a href="#" class="btn">book now</a>
                </div>
            </div>
            <div class="box">
                <img src="~/Content/images/cp-6.jpg" alt="">
                <div class="contents">
                    <h3><i class="fas fa-map-marker-alt"></i> Vịnh Hạ Long</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicin elit</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <div class="price"> 1.000.000đ <span>1.200.000đ</span></div>
                    <a href="#" class="btn">book now</a>
                </div>
            </div>*@
        </div>
    </section>
    <!-- packages section ends -->
    <!-- services section starts -->
    <section class="services" id="services">
        <h1 class="heading">
            <span>s</span>
            <span>e</span>
            <span>r</span>
            <span>v</span>
            <span>i</span>
            <span>c</span>
            <span>e</span>
            <span>s</span>
        </h1>

        <div class="box-container">
            <div class="box">
                <i class="fas fa-hotel">
                    <h3>affordable hotels</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
                </i>
            </div>
            <div class="box">
                <i class="fas fa-utensils">
                    <h3>food and drinks</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
                </i>
            </div>
            <div class="box">
                <i class="fas fa-bullhorn">
                    <h3>safety guide</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
                </i>
            </div>
            <div class="box">
                <i class="fas fa-globe-asia">
                    <h3>around the world</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
                </i>
            </div>
            <div class="box">
                <i class="fas fa-plane">
                    <h3>fastest travel</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
                </i>
            </div>
            <div class="box">
                <i class="fas fa-hiking">
                    <h3>adventures</h3>
                    <p>Lorem ipsum, dolor sit amet</p>
                </i>
            </div>
        </div>
    </section>
    <!-- services section ends -->
    <!-- brand section starts -->


    <!-- brand section ends -->
    <!-- footer section starts -->

    <section class="footer">
        <div class="box-container">
            <div class="box">
                <h3>about us</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            </div>
            <div class="box">
                <h3>branch locations</h3>
                <a href="">India</a>
                <a href="">USA</a>
                <a href="">japan</a>
                <a href="">france</a>
            </div>
            <div class="box">
                <h3>quick links</h3>
                <a href="">home</a>
                <a href="">book</a>
                <a href="">services</a>
                <a href="">gallery</a>
                <a href="">review</a>
                <a href="">contact</a>
            </div>
            <div class="box">
                <h3>follow us</h3>
                <a href="">facebook</a>
                <a href="">instagram</a>
                <a href="">twitter</a>
                <a href="">linkedin</a>
            </div>
        </div>
    </section>

    <!-- footer section ends -->

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- custom js file link -->
    <script src="~/Scripts/js/script.js"></script>

</body>
</html>